app = "meteora-analytics"
primary_region = "dfw"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory_mb = 1024
  cpus = 1
