# fly.toml app configuration file generated for meteora-analytics-main on 2026-02-14T04:57:09Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'meteora-analytics-main'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
